* { margin: 0px; padding: 0px; border: 0px; font-size: 100%; 
font-family: 'Syne', sans-serif;
}* { margin: 0px; padding: 0px; border: 0px; font-size: 100%; 
font-family: 'Syne', sans-serif;
}* { margin: 0px; padding: 0px; border: 0px; font-size: 100%; 
font-family: 'Syne', sans-serif;
}font-family: 'Syne', sans-serif;@charset "utf-8";
.carousel {
}
h1 {
font-family: 'Russo One', sans-serif;<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">}
